<div id="view3" class="grid-content grid-wrapper">
	<h1 class="font-title">View 3</h1>
	<p class="font-body">This is an example view. This view contains sample data retrieved via the sharedFactory through
		the View3Controller.</p>
	<p class="font-body">Toggle another view to see the animation between views</p>
	<h2 class="font-sub-title">sample.json</h2>
	<pre><code>{{ctrl.data}}</code></pre>
	<div class="btn-row">
		<button class="btn-solid" ng-click="Main.openView('/view1')">View 1</button>
		<button class="btn-solid" ng-click="Main.openView('/view2')">View 2</button>
	</div>
</div>